<tr>
<td><%= ingredient.attributes[:name] %></td>
<td><%= ingredient.attributes[:price].to_s('F') %>$</td>
<td><a href="/admin/editingr/<%= ingredient.attributes[:id] %>">Edit</td>
<td><a href="/admin/toggleavailingr/<%= ingredient.attributes[:id] %>">Make <%= if ingredient.available then "unavailable" else "available" end%></a></td>
</tr>
