<tr>
	<td><a href="/profile/<%= order.customer.attributes[:username] %>"><%= order.customer.attributes[:username] %></a></td>
	<td><%= Controller.getTimeString(order.attributes[:orderDate]) %></td>
	<td><a href="/vieworder/<%= order.attributes[:id] %>"><%= order.attributes[:totalPrice].to_s("F") %>$</a></td>
	<% if(order.attributes[:deliveryDate] != nil) then %>
		<td><%= Controller.getTimeString(order.attributes[:deliveryDate]) %></td>
	<% else %>
		<% if(username == 'admin') then %>
			<td><a href="/admin/deliver/<%= order.attributes[:id] %>">Enter</a></td>
		<% end %>
	<% end %>
</tr>
