<tr>
	<td><%= product.attributes[:name] %></td>
	<td>
		<% product.ingredient_amounts.each_index do |x| %>
			<% if product.ingredient_amounts[x].attributes[:amount] > 1 then %>
				<%= product.ingredient_amounts[x].attributes[:amount].to_s + "x" %>
			<% end %>
			<%= product.ingredient_amounts[x].ingredient.attributes[:name] %>
			<%= if x != product.ingredient_amounts.size-1 then " ," end %>
		<% end %>
	</td>
	<td><%= product.attributes[:price].to_s("F") %>$</td>
	<% if(username != 'admin') then %>
		<td><a href=/basket/add/<%= product.attributes[:id] %>>Add</a></td>
	<% else %>
		<td><a href=/admin/edit/<%= product.attributes[:id] %>>Edit</a></td>
		<td><a href="/admin/toggleavail/<%= product.attributes[:id] %>">Make <%= if product.available then "unavailable" else "available" end%></a></td>
	<% end %>
</tr>
